/* ESTILOS GLOBAIS */
/* Estamos utilizando o framework Tailwind CSS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
    --color-primaria: rgba(8, 38, 45, 1);
    --color-secundaria: rgba(255, 255, 255);
    --color-terciaria: rgba(8, 38, 45, 0.1);
    /* a definir:
    --color-sucesso: x;
    --color-erro: x;
    */

    /* De acordo com o RF013 */
    --color-estado-aberta: #6b7280;
    --color-estado-orcada: #92400e;
    --color-estado-rejeitada: #dc2626;
    --color-estado-aprovada: #ca8a04;
    --color-estado-redirecionada: #7c3aed;
    --color-estado-arrumada: #2563eb;
    --color-estado-paga: #ea580c;
    --color-estado-finalizada: #16a34a;

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    --font-sans: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply font-sans bg-gray-50 text-gray-800;
    }

    h1 {
        @apply text-2xl font-bold text-gray-900;
    }

    h2 {
        @apply text-xl font-semibold text-gray-900;
    }

    h3 {
        @apply text-lg font-semibold text-gray-900;
    }

    label {
        @apply block text-sm font-medium text-gray-700 mb-1;
    }
}

/* Botões */
.btn-primario {
    @apply bg-primaria text-secundaria px-md py-sm rounded-md text-xs font-bold hover:bg-primaria/70 transition disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-secundario {
    @apply bg-secundaria text-primaria px-md py-sm rounded-md text-xs font-bold hover:brightness-80 transition disabled:opacity-50 disabled:cursor-not-allowed border;
}

/* Inputs */
.input-padrao {
    @apply w-full rounded-md border border-gray-200 px-md py-sm text-sm outline-none focus:border-primaria transition disabled:opacity-50 disabled:cursor-not-allowed;
}

/* a definir:
.btn-sucesso {
    @apply bg-sucesso text-white px-md py-sm rounded-md font-medium hover:bg-green-700 transition disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-erro {
    @apply bg-erro text-white px-md py-sm rounded-md font-medium hover:bg-red-700 transition disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-outline {
    @apply border border-gray-300 text-gray-700 px-md py-sm rounded-md font-medium hover:bg-gray-100 transition;
}
*/